{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
            <a class="btn btn-default" href="{% url 'post_edit' pk=blog.pk %}">
                {% include './icons/pencil-fill.svg' %}
            </a>
        </aside>
        <time class="date">published: {{ blog.published_date }}</time>
        <h2>{{blog.title}}</h2>
        <p>{{ blog.body |safe |linebreaksbr }}</p>
        <p>Author: {{blog.author}}</p>
        <br>
        <a href="{% url 'home' %}">Back</a>
    </article>
{% endblock %}