{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        <aside class="actions">
        {% if blog.published_date %}
            <div class="date">
                {{ blog.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=blog.pk %}">Publish</a>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=blog.pk %}">
            {% include './icons/pencil-fill.svg' %}
        </a>
        <a class="btn btn-default" href="{% url 'post_remove' pk=blog.pk %}">
            {% include './icons/icons8-trash.svg' %}
        </a>
        </aside>
        <h2>{{ blog.title }}</h2>
        <p>{{ blog.body |safe |linebreaksbr }}</p>
        <p>Author: {{ blog.author }}</p>
        <br>
        <a href="{% url 'home' %}">Back</a>
    </article>
{% endblock %}