{% extends 'blog/base.html'%}

{% block content %}
    {% for blog in blog_posts %}
        <div class="post">
            <div class="date">
                {{ blog.published_date }}
            </div>
            <h2><a href="{% url 'blog_post' pk=blog.pk %}">{{ blog.title }}</a></h2>
            <p>{{ blog.body |safe |linebreaksbr }}</p>
            <a href="{% url 'blog_post' pk=blog.pk %}">Comments: {{ blog.approved_comments.count }}</a>
        </div>
    {% endfor %}
{% endblock content %}